.hero-container {
    height: 100vh;
    background-image: url(../images/galaxy-bg.jpeg);
    scroll-snap-align: center;
    align-items: center;
    position: relative;
    background-size: cover;
    z-index: 1;
    cursor: pointer;
  }
  
  canvas {
    top: 0;
    left: 0;
  }
  
  